*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;     /*box model*/
}

body {
        font-family: "Poppins", sans-serif;
        background-image: linear-gradient(
            to right, #f7659d 0%, #c7f89e 60%, #f870d6 100%
        );
        
}